.awsFavPin {
  text-decoration: none !important;
  color: #fff !important;
  font-family: "Amazon Ember", "Helvetica Neue", Roboto, Arial, sans-serif;
  font-size: 12px;
  cursor: pointer;
  display: flex;
}

.awsFavPin a i {
  border-radius: 5px;
}

.awsFavPin a {
  padding-right: 4px;
}

.awsFavPinTooltip {
  display: none;
  position: absolute;
  top: 36px;
  padding: 0.5em;
  color: #f2f2f2;
  background: #232f3e;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  max-width: 10em;
}

.awsFavPin:hover .tooltip {
  display: block;
}
